.btn {
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 2px;
  background-color: $white;
  color: $dark-gray;
  letter-spacing: 0.07em;
  font-weight: 300;
  font-size: 14px;
  &:focus,
  &:hover,
  &:active {
    background-color: #187B88;
    color: $white;
  }

  &--blue-border {
    border: 1px solid $blue;
  }

  &--gray-border  {
    border: 0.5px solid $gray;
  }

  &--blue {
    background: $blue;
    color: $white;
    border: 1px solid #3B939C;
    box-shadow: 0px 21px 28px -9px rgba(34, 143, 157, 0.53);
    &:focus,
    &:hover,
    &:active {
      background-color: #187B88
    }
  }

  &--xl {
    padding: 15px;
  }

  &--link {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
    font-weight: 300;
  }
  &--arrow {
    position: relative;
    padding-right: 30px;
    &::after {
      @include pseudo();
      width: 25px;
      height: 5px;
      background: url("../img/arrow.svg") center center / contain no-repeat;
      right: 10px;
      top: 50%;
    }
  }
}

@include respond-to(medium) {
  .btn {
    max-width: 275px;
    padding: 1rem 1.8rem;
    font-size: 16px;
  }
}
