//@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.promotions {
  .container {
    max-width: 1600px !important;
    width: 100%;
    padding: 0 3%;
  }
  &__list {
    text-align: left;
    margin-bottom: 20px;
    button {
      border-radius: 40px;
      box-shadow: none;
      margin-bottom: 10px;
    }
  }
  &__title {
    color: $white;
    padding: 5px;
    padding-right: 19px;
    background-color: $blue;
    width: 40%;
    min-width: 220px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: right;
    text-transform: uppercase;
    font-family: 'BebasNeueBold', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 107.19%;
    letter-spacing: 0.68em;
  }
  .btn {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.06em;
    padding: 10px 14px;
  }
}
@include respond-to(medium) {
  .promotions {
   &__title {
     font-style: normal;
     font-weight: bold;
     font-size: 45px;
     line-height: 107.19%;
     letter-spacing: 0.68em;
     text-transform: uppercase;
     padding: 8px;
     padding-right: 66px;
     min-width: 470px;
     margin-bottom: 30px;
   }
  }
}
@include respond-to(large) {
  .promotions {
    .container {
      padding: 0;
    }
&__title {
  max-width: 695px;
  font-size: 60px;
  line-height: 107.19%;
  margin-bottom: 0;
  margin-top: 30px;
}
    .list {
      padding-top: 65px;
    }
    &__list {
      margin-left: 695px;
      margin-top: -65px;
      text-align: right;
    }
  }
}
