.reviews {
  padding: 40px 0;
  background-color: #F1F1F0;
  overflow-x: hidden;
  &__title {
    margin-bottom: 30px;
    margin-top: 0;
  }
  &__slide {
    background: #FFFFFF;
    box-shadow: 0px 78px 44px -51px rgba(147, 117, 95, 0.3);
    border-radius: 9px;
    padding: 25px;
    h4 {
      margin-top: 0;
      font-family: Philosopher;
      font-weight: bold;
      font-size: 18px;
      line-height: 136.19%;
      letter-spacing: 0.1em;
      color: #494949;
      position: relative;
      margin-bottom: 40px;

      &::after {
        @include pseudo();
        width: 74px;
        height: 0px;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        border: 1px solid #DBD7D1;
      }
    }
     p {
       font-weight: 300;
       font-size: 14px;
       line-height: 157.19%;
       text-align: justify;
       letter-spacing: 0.06em;
       color: #505050;
     }
  }
}
@include respond-to(medium) {
  .reviews {
    padding-bottom: 150px;
    position: relative;
    &::before {
      @include pseudo();
      width: 120px;
      height: 120px;
      background: url("../img/rewiew.svg") center center / cover no-repeat;
      left: calc(100vw/2 - 36%);
      top: 90px;
    }
    &__title {
      margin-bottom: 45px;
    }
    &__slide {
      padding-top: 5vw;
      padding-bottom: 5vw;
      height: auto!important;
      p {
        width: 80%;
        margin: $center;
        text-align: center;
      }
    }
  }
}

@include respond-to(large) {
  .reviews {
    padding-bottom: 130px;
    &::before {
      @include pseudo();
      width: 167px;
      height: 167px;
      left: calc(100vw/2 - 500px);
      top: 60px;
    }
    &__slide {
      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #505050;
      }
    }
  }
}
