.services-page {
  &__list {
    @include list();
    width: 96vw;
    margin: $center;
  }
  &__item {
    width: 96vw;
    height: 61.3vw;
    background: url("../img/info-sm.png") center center / cover no-repeat;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 171.69%;
    text-align: center;
    letter-spacing: 0.21em;
    color: #FFFFFF;
    max-width: 210px;
  }
}

@include respond-to(medium) {
  .services-page {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(11, min(96px));
      grid-column-gap: 25px;
      grid-row-gap: 25px;
      }
    &__item {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      align-items: center;
    }    &__title {
           font-size: 14px;
         }

    li {
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(7),
      &:nth-child(6),
      &:nth-child(9),
      &:nth-child(12) {
        grid-row: span 2;
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      {
        grid-row: span 3;
      }
      &:nth-child(8),
      &:nth-child(10),
      &:nth-child(11) {
        grid-row: span 4;
      }
      &:nth-child(9),
      &:nth-child(10) {
        .services-page__title {
          font-size: 20px;
          line-height: 147.69%;
          letter-spacing: 0.325em;
          color: #515151;
        }
        .services-page__item {
          background: #C4C4C4;
        }
      }
      &:nth-child(12) {
        .services-page__item {
          background: #484848;
        }

        .services-page__title {
        font-size: 20px;
        line-height: 147.69%;
        letter-spacing: 0.325em;
      }
      }
      &:nth-child(8),
      &:nth-child(4),
      &:nth-child(11) {
        .services-page__title {
          padding: 10px;
          border: 0.5px solid #FFFFFF;
        }
      }
    }
  }
}

@include respond-to(large) {
  .services-page {
    &__list {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(10, min(96px));
      grid-column-gap: 64px;
      grid-row-gap: 64px;
    }
    &__item {
    }    &__title {
           font-size: 20px;
         }

    li {
      &:nth-child(1), {
        grid-row: span 5;
        grid-column: span 3;
      }
      &:nth-child(3),
      &:nth-child(5), {
        grid-row: span 3;
        grid-column: span 2;
      }
      &:nth-child(2), {
        grid-row: span 5;
        grid-column: span 5;
      }
      &:nth-child(9) {
        grid-row: span 2;
        grid-column: span 3;
        order:1
      }
      &:nth-child(11),
      {
        grid-row: span 2;
        grid-column: span 2;
        order:4;
      }
      &:nth-child(4),
      &:nth-child(6),
      {
        grid-row: span 2;
        grid-column: span 2;
      }
      &:nth-child(7), {
        grid-row: span 3;
        grid-column: span 5;
      }
      &:nth-child(12), {
        grid-row: span 2;
        grid-column: span 3;
        order:5;
      }
      &:nth-child(8), {
        grid-row: span 5;
        grid-column: span 4;
        order: 2;
      }
      &:nth-child(10),{
        grid-row: span 3;
        grid-column: span 3;
        order: 3;
      }
      &:nth-child(9),
      &:nth-child(10) {
        .services-page__title {
          font-size: 20px;
          line-height: 147.69%;
          letter-spacing: 0.325em;
          color: #515151;
        }
        .services-page__item {
          background: #C4C4C4;
        }
      }
      &:nth-child(12) {
        .services-page__item {
          background: #484848;
        }

        .services-page__title {
          font-size: 20px;
          line-height: 147.69%;
          letter-spacing: 0.325em;
        }
      }
      &:nth-child(8),
      &:nth-child(4),
      &:nth-child(11) {
        .services-page__title {
          padding: 10px;
          border: 0.5px solid #FFFFFF;
        }
      }
    }
  }
}
