.stocks {
  padding: 0 20px;
  position: relative;

  &::after {
    @include pseudo();
    width: 76px;
    height: 30%;
    right: 0;
    top: 0;
    z-index: -1;
    background: #515151;
  }
  &__subtitle {
    margin: 30px auto;
  }

  &__list {
    @include list();
    width: 100%;
    box-sizing: inherit!important;
    &--all {
      max-width: 100% !important;
      &:before {
        content: none!important;
      }
      li {
      }
    }
  }

  &__item {
    margin-bottom: 25px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%!important;
    img {
      width: 100%;
      height: auto;
    }
    &:nth-child(n+4) {
      display: none;
    }
  }
  &__list--all {
    li:nth-child(n + 4) {
      display: flex;
    }
  }
  &__persent {
    background: rgba(193, 176, 167, 0.5);
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: -10px;
    font-size: 16px;
    line-height: 136.19%;
    text-align: left;
    letter-spacing: 0.01em;
    font-weight: 400;
    color: #FFFFFF
  }
  &__title {
    padding: 10px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 136.19%;
    letter-spacing: 0.01em;
    color: #373737;
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 136.19%;
    letter-spacing: 0.01em;
    color: #337680;
    margin-bottom: 14px;
    span{
      color: $gray;
      text-decoration: line-through;
    }
  }

  &__text,
  &__doc,
  &__persent--modal {
    display: none;
  }

  &__btn-wrap {
    display: flex;
    margin-top: auto;
    .btn {
      border-radius: 3px;
      width: 49%;
      box-shadow: none;
      text-transform: capitalize;
      &:last-child {
        margin-left: auto;
      }
    }
  }

  &__img-wrap {
    width: 100%;
    position: relative;
  }

  &__preview {
    position: absolute;
    bottom: 25px;
    right: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 93px;
    height: 93px;
    object-fit: cover;
    border: 2px solid #ffffff;
    img{
      display: block;
    }

  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@include respond-to(medium) {
  .stocks {
    &::after {
      content: 'special offers' !important;
      writing-mode: vertical-rl;
      z-index: -1;
      font-family: 'BebasNeueBold', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 83.69%;
      height: 40%;
      letter-spacing: 0.88em;
      text-transform: uppercase;
      text-align: left;
      padding: 10px;
      color: #FFFFFF;
      @media (min-width: 1366px) {
        height: 73%;
      }
    }

    &__persent {
      top: 20px;
      right: 0px;
    }
    &__subtitle {
      margin-top: 60px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      @media (min-width: 1366px) {
        box-sizing: content-box!important;
        flex-wrap: nowrap;
  }
  //justify-content: space-between;
  &--all {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1.2em;
    //margin: 0 -10px;
    li {
      display: flex !important;
      padding: 0;
      //margin: 10px;
      //width: 100%;
      flex: none;
    }
  }
}
&__item {
  flex: 0 0 50%;
  width: 50%!important;
  height: auto;
  margin-right: 0;
  padding: 10px;
  &:nth-child(4) {
    display: flex;
  }
  &:nth-child(n + 5) {
    display: none;
  }
  @media (min-width: 1366px) {
    flex: 0 0 33%;
    &:nth-child(n + 4) {
      display: none;
    }
  }
}
&__list--all {
  li:nth-child(n + 5) {
    display: flex;
  }
}

&__btn-wrap {
  margin-top: auto;
  .btn--blue {
    box-shadow: 0px 24px 35px -13px #228F9D;
  }
}
&__text-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
}
}

@include respond-to(large) {
.stocks {
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 271px;
    height: 271px;
    border: 1px solid #228F9D;
    border-radius: 50%;
    top: 50%;
    left: -200px;
    z-index: 10;
  }
  &::after {
    width: 45%;
    font-size: 34px;
    line-height: 83.69%;
    letter-spacing: 0.63em;
    text-transform: uppercase;
    max-height: 502px;
    height: 80%;
  }
  .stocksSwiper {
      max-width: 1300px;
      margin: $center;
  }
  &__subtitle {
    margin-top: 160px;
    margin-bottom: 70px;
  }

  &__list {
    max-width: 1340px;
    margin: $center;
    margin-bottom: 30px;
    justify-content: space-between;
    &--all {
      grid-gap: 40px;
      li {
        width: auto;
      }
    }
  }

  &__item {
    width: 33.3%;
    max-width: 400px;
    padding: 0;

    &:nth-child(n + 4) {
      display: none;
    }
  }

  &__list--all {
    li:nth-child(n + 4) {
      display: flex;
    }
  }

  &__img-wrap {
    max-height: 400px;

    img {
      object-fit: cover;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    width: 98px;
    height: 67px;
  }
  .swiper-button-prev {
    background: url("../img/pageindex/about-left.svg") center center / contain no-repeat;
    left: calc(((100vw - 1340px) / 2) - 150px);
  }
  .swiper-button-next{
    background: url("../img/pageindex/about-right.svg") center center / contain no-repeat;
    right: calc(((100vw - 1340px) / 2) - 150px);
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
    font-size: 0;
  }
}
}

